flask==2.3.3
pandas==2.1.0
python-dotenv==1.0.1
google-genai==1.5.0
flasgger==0.9.7.1
gunicorn==22.0.0
Werkzeug==3.0.3
kaggle==1.5.16

# for azure openai
# azure-identity==1.15.0
# azure-ai-openai==1.0.0
# azure-core==1.29.5

# LangChain 相關依賴項
langchain==0.1.4
langchain-core==0.1.21
langchain-community==0.0.19
langchain-google-genai==0.0.6
# langchain-openai==0.0.5  # 公司環境使用時取消註解